<div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
      <h1 class="display-4 font-italic">New daily posts from all around the world</h1>
      <p class="lead my-3">Posts from various social media pages</p>
    </div>
  </div>
<div class="row mb-2">
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">SPORTS</strong>
          <h3 class="mb-0">Brooklyn's Kevin Durant sees action for 1st time in 552 days</h3>
          <div class="mb-1 text-muted">Dec 13</div>
          <p class="card-text mb-auto">Kevin Durant finally suits up for the Nets following his lengthy recovery from a torn Achilles tendon.</p>
        </div>
        <div class="col-auto d-none d-lg-block">
          <%=image_tag("durant-pullup-scaled.jpg", width: "200px", height:"250px") %>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success">ANNOUNCEMENTS</strong>
          <h3 class="mb-0">Report for America announces more than 300 reporter positions for 2021</h3>
          <div class="mb-1 text-muted">Dec 08</div>
          <p class="mb-auto">NEW YORK – Report for America today announced the selection of 64 new local news organizations as host newsroom partners, enabling the national service program to place more than 300 journalists in the field next year. </p>
        </div>
        <div class="col-auto d-none d-lg-block">
          <%=image_tag("JAV.png", width: "200px", height:"250px") %>
        </div>
      </div>
    </div>
  </div>